{% extends '_base.html.twig' %}

{% block main %}

    <h2>Items</h2>
    <ol>
        {% for item in database.query('select * from pages where template="item" order by id asc') %}
            <li><a href="{{ page.link(item.id) }}.html">{{ item.title }}</a></li>
        {% endfor %}
    </ol>

{% endblock %}
